body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
    color: #f4f4f4; /* Texto blanco */
}

.login-container, .register-container {
    background-color: #1a1a1a; /* Fondo oscuro para los contenedores */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    width: 300px;
    margin-bottom: 20px;
    border: 2px solid #00BFFF; /* Borde azul piscina */
}

.login-container h2, .register-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #00BFFF; /* Color azul piscina */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00BFFF; /* Borde azul piscina */
    border-radius: 5px;
    background-color: #262626; /* Fondo oscuro para los inputs */
    color: #f4f4f4; /* Texto blanco */
    width: calc(100% - 20px); /* Ancho completo menos padding */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #00BFFF; /* Placeholder azul piscina */
}

.password-container {
    position: relative;
    margin-bottom: 15px;
}

.password-container input[type="password"] {
    padding-right: 80px; /* Ajustar para el botón */
    width: calc(100% - 20px); /* Ancho completo menos padding */
}

.password-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #00BFFF; /* Botón azul piscina */
    color: #000; /* Texto negro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px;
    background-color: #00BFFF; /* Botón azul piscina */
    color: #000; /* Texto negro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #009ACD; /* Botón azul más oscuro al hover */
}

.create-account, .login-account {
    margin-top: 20px;
    text-align: center;
}

.create-account a, .login-account a {
    color: #00BFFF; /* Enlace azul piscina */
    text-decoration: none;
}

.create-account a:hover, .login-account a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
