<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Inicio.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <div class="button-box">
                <div id="elegir"></div>
                <button type="button" class="toggle-btn" onclick="login()">Iniciar sesión</button>
                <button type="button" class="toggle-btn" onclick="registrar()">Registrar</button>
            </div>
            <form id="login" class="input-group" action="/verificardatos" method="POST">
                <input id="email" name="correo" type="email" class="input-field" placeholder="Ingrese su correo" required>
                <input id="loginPassword" name="contrasena" type="password" class="input-field" placeholder="Contraseña" required>
                <input type="checkbox" id="rememberPasswordCheckbox" class="check-box"><label for="rememberPasswordCheckbox">Recordar Contraseña</label>
                <button type="submit" class="submit-btn">Acceder</button>
            </form>                    
            <form id="registrar" class="input-group" action="/agregarusuario" method="POST">
                <input type="text" name="nombre" class="input-field" placeholder="Nombre de usuario" required>
                <input type="email" name="correo" class="input-field" placeholder="Correo" required>
                <input type="password" id="registerPassword" name="contrasena" class="input-field" placeholder="Contraseña" required>
                <input type="password" id="confirmPassword" class="input-field" placeholder="Confirmar Contraseña" required>
                <input type="checkbox" id="terms" class="check-box"><span>Acepto los <a href="terminos.html" target="_blank">términos y condiciones</a></span>
                <button type="submit" class="submit-btn">Registrar</button>
            </form>            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
