/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-image: url('agua1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 370px;
    max-width: 90%;
    height: 500px;
    max-height: 90vh;
    position: relative;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    overflow-y: auto; /* Hace que el formulario sea desplazable verticalmente */
    overflow-x: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.button-box {
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.toggle-btn {
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
    z-index: 1;
}

#elegir {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgba(63, 81, 181, 0.7), rgba(0, 188, 212, 0.7));
    border-radius: 30px;
    transition: 0.8s;
}

.input-group {
    position: absolute;
    width: 280px;
    transition: 0.8s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid #004d40;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(63, 81, 181, 0.7), rgba(0, 188, 212, 0.7));
    border: 0px;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

.span {
    color: #757575;
    font-size: 12px;
}

#login {
    left: 50px;
}

#registrar {
    left: 450px;
}



/* Media Query para achicar el contenido si la altura es menor a 500px */
@media (max-height: 500px) {
    .form-box {
        width: 320px;
        height: 400px;
    }

    .button-box {
        width: 200px;
        margin: 20px auto;
    }

    .toggle-btn {
        padding: 8px 18px;
    }

    .input-group {
        width: 240px;
    }

    .input-field {
        padding: 8px 0;
        margin: 3px 0;
    }

    .submit-btn {
        width: 75%;
        padding: 8px 20px;
    }

    .check-box {
        margin: 20px 10px 20px 0;
    }

    .span {
        font-size: 10px;
    }

    #login {
        left: 40px;
    }

    #registrar {
        left: 380px;
    }
}
